/*GLOBAL STYLES*/

html {
	box-sizing: border-box;
	font-size: 10px;
	width: auto;
	height: auto;
	font-family: portland-thin-font;
}

*, *:before, *:after {
	box-sizing: inherit;
}

@font-face {
	font-family: portland-bold-font;
	src: url('Gotham-Bold.otf');
}

@font-face {
	font-family: portland-thin-font;
	src: url('Gotham-Thin.otf');
}


/*HOME PAGE*/
.portland-nav {
	margin-right: 1% !important;
	color: white;
	font-family: portland-bold-font;
	font-size: 0.9em;
}

.portland-menu-icon {
	font-size: 1.5em;
}

.nav-bar {
	background: black;
	height: 20vh;
	position: fixed;
}

.nav-subtitle {
	margin-right: 80%;
	font-family: portland-bold-font;
}

.tile-one {
	height: 46vh;
	width: 25vw;
	background-color: yellow;
	position: relative;
}

.tile-two {
	height: 46vh;
	width: 25vw;
	background-color: pink;
	position: relative;
}

.tile-three {
	height: 46vh;
	width: 50vw;
	background-color: grey;
	position: relative;
}

.tile-four {
	height: 46vh;
	width: 50vw;
	background-color: ;
	position: relative;
	background-image: url('/assets/studio-home.jpg');
}

.tile-five {
	height: 46vh;
	width: 25vw;
	background-color: navy;
	position: relative;
	background-image: url('/assets/twitter-home.jpg');
}

.tile-six {
	height: 46vh;
	width: 25vw;
	background-color: green;
	position: relative;
	background-image: url('/assets/bracknell-home.jpg');
}

.tile-banner {
	position: absolute;
	width: 100%;
	height: 9%;
	bottom: 0;
	left: 0;
	background-color: rgba(1,1,1, 0.7);
}

.home-container {
	display: flex;
}

.tile-title {
	margin-left: 2%;
	font-size: 1.1em;
	color: white;
	overflow: hidden;
}

.fl-right {
	float: right;
	color: white;
	margin-right: 2%;
}

/*WORK PAGE*/

.carousel-images {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.carousel-video {
	height: 679px !important;
	width: 100vw !important;
}

.hero-text {
	/*height: 40vh;*/
	/*width: auto;*/
	margin-top: 0.3%;
	background: black;
	color: white;
	font-size: 1.5em;
	font-family: portland-bold-font;
	padding: 2%;
	justify-content: center;
	text-align: center;
	z-index: 100;
}

.big-summary-image {
	height: 100vh;
	width: 100vw;
	margin-bottom: -0.6%;
}

.small-summary-image {
	height: 70vh;
	width: 50%;
}

.small-summary-text {
	height: 94.4vh;
	width: 50vw;
	overflow: hidden;
	position: absolute;
	right: 0;
	background-color: grey;
	margin: 0 auto;
	text-align: left;
	color: white;
	padding: 9%;
	font-family: portland-bold-font;
	font-size: 2.1em;
}

.video-align {
	background-color: black;
	width: 100vw;
	height: 100vh;
	margin: 0%;
	padding: 0%;
	border: 0%;
}

/*.video-container {
	margin-bottom: -0.4%;
}*/

.summary-bottom {
	width: 100vw;
	height: auto;
}

.summary-image {
	width: 100vw;
	height: 120vh;
	margin-bottom: 0%;
}

.slick-slider {
	margin-bottom: 0px !important;
}

































