<html>
	<body>
		<md-toolbar layout="column">
		    <div class="md-toolbar-tools nav-bar">
		    	<span flex></span>
		      <md-button class="portland-nav">PORTLAND.</md-button>
		    </div>
		</md-toolbar>

		<div class="work-container">
			<slick>
				<div><img ng-src="/assets/cw-carousel1.jpg" /></div>
				<div><img ng-src="/assets/cw-carousel2.jpg" /></div>
				<div><img ng-src="/assets/cw-carousel3.jpg" /></div>
				<div><img ng-src="/assets/cw-carousel4.jpg" /></div>
			</slick>
		</div>
	</body>
</html>